<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="use_broker" value="true" />
    <add key="mqtt_server" value="mqtt.cloudapps.cloud" />
    <add key="topic" value="sensors/sensor1" />
    <add key="sensor_ip" value="192.168.49.110" />
    <add key="sensor_port" value="3020" />
    <add key="compact_null" value="true" />
    <add key="ms_sleep" value="500" />
    <add key="create_log_file" value="true" />
    <add key="log_base_path" value="C:\Users\Saro\source\repos\MDataCollector\MDataCollector\bin\Release" />
    <add key="log_device_id" value="108" />
    <add key="log_check_interval" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>